<!-- 
  Sources:
  http://getbootstrap.com/docs/3.3/components/#navbar
-->

<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Run Tracker</a>
      </div>
      <rt-header-links></rt-header-links>
    </div>
  </nav>