<h2>
    Run Summary
  </h2>
  
  <div *ngIf="run">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h4>
          Run #{{run.id}}
          <div routerLink="update" class="btn btn-primary pull-right">Edit Run</div> 
        </h4>
      </div>
      <table class="table">
        <tr>
          <th>Date, Time</th>
          <td>{{run.startTime | date:'short'}}</tr>
        <tr>
        <tr>
          <th>Duration</th>
          <td>{{run.elapsed}} sec</tr>
        <tr>
          <th>Distance</th>
          <td>{{run.distance}} mi</td>
        </tr>
        <tr>
          <th>Rating</th>
          <td>{{run.rating}}</td>
        </tr>
        <tr>
          <th>Average Pace</th>
          <td>{{run.avgPace}} min/mi</td>
        </tr>
      </table>
    </div>
  </div>
  
  <div *ngIf="error" class="alert alert-danger">
    <span class="glyphicon glyphicon-exclamation-sign"></span>
    {{error.error.message ? error.error.message : 'There was an error retrieving the run data.'}}
  </div>