<div *ngIf="best">
  <div class="panel panel-info">
    <table class="table">
      <tr>
        <th>Farthest Run</th>
        <td>{{best.distance == null ? '---' : best.distance}} mi</tr>
      <tr>
      <tr>
        <th>Longest Run</th>
        <td>{{best.elapsed == null ? '---' : best.elapsed}} sec</tr>
      <tr>
        <th>Fastest Average Pace</th>
        <td>{{best.avgPace == null ? '---' : best.avgPace}} min/mi</td>
      </tr>
    </table>
  </div>
</div>