<h2>
  Runs
  <div routerLink="add" class="btn btn-primary pull-right">Add Run</div>
</h2>
<div class="panel panel-info">
  <div class="panel-heading">All Runs for User {{userId}}</div>
  <table class="table">
    <tr>
      <th>#</th>
      <th>Date, Time</th>
      <th>Duration (sec)</th>
      <th>Distance (mi)</th>
      <th>Rating (1-5)</th>
      <th>Average Pace (min/mi)</th>
    </tr>
    <tr *ngFor="let run of runs">
      <td>{{run.id}}</td>
      <td>{{run.startTime | date:'short'}}</td>
      <td>{{run.elapsed}}</td>
      <td>{{run.distance}}</td>
      <td>{{run.rating}}</td>
      <td>{{run.avgPace}}</td>
      <button type="button" class="btn btn-default" [routerLink]="run.id">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
      </button>
    </tr>
  </table>
</div>