<div class="navbar-collapse">
  <!-- <ul class="nav navbar-nav navbar-right">
    <li [ngClass]="{'active': currentRoute === 'me'}">
      <a href="#">Me</a>
    </li>
    <li [ngClass]="{'active': currentRoute === 'runs'}">
      <a href="#">Runs</a>
    </li>
  </ul> -->
</div>