<h2>
  User Summary
</h2>

<div *ngIf="user">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h4>
        <span class="glyphicon glyphicon-user"></span>
        {{user.username}}
        <div routerLink="update" class="btn btn-primary pull-right">Edit User</div> 
      </h4>
    </div>
    <table class="table">
      <tr>
        <th>First Name</th>
        <td>{{user.firstName}}</tr>
      <tr>
      <tr>
        <th>Last Name</th>
        <td>{{user.lastName}}</tr>
      <tr>
        <th>Gender</th>
        <td>{{user.gender}}</td>
      </tr>
      <tr>
        <th>Height</th>
        <td>{{user.height}}''</td>
      </tr>
      <tr>
        <th>Weight</th>
        <td>{{user.weight}} lbs</td>
      </tr>
      <tr>
        <th>Date of Birth</th>
        <td>{{user.dob | date:'shortDate'}}</td>
      </tr>
    </table>
  </div>
</div>

<div *ngIf="userError" class="alert alert-danger">
  <span class="glyphicon glyphicon-exclamation-sign"></span>
  {{userError.error.message ? userError.error.message : 'There was an error retrieving the user data.'}}
</div>

<h3>Personal Records</h3>
<rt-personal-best [best]="best"></rt-personal-best>

<div *ngIf="bestError" class="alert alert-danger">
  <span class="glyphicon glyphicon-exclamation-sign"></span>
  {{bestError.error.message ? bestError.error.message : 'There was an error retrieving the personal records.'}}
</div>