<h2>
  User
  <button type="button" class="btn btn-danger" (click)="deleteUser()">Delete</button>
</h2>
<p>Add the User's Information</p>
<h3>
</h3>

<form>
  <div class="input-group">
    <label for="username" class="sr-only">Username</label>
    <input type="text" class="form-control" placeholder="Username"
      id="username" name="username" required [(ngModel)]="user.username">
  </div>
  <div class="input-group">
    <label for="firstName" class="sr-only">First Name</label>
    <input type="text" class="form-control" placeholder="First Name"
      id="firstName" name="firstName" required [(ngModel)]="user.firstName">
  </div>
  <div class="input-group">
    <label for="lastName" class="sr-only">Last Name</label>
    <input type="text" class="form-control" placeholder="Last Name"
      id="lastName" name="lastName" required [(ngModel)]="user.lastName">
  </div>
  <div class="input-group">
    <label for="gender" class="sr-only">Gender</label>
    <input type="text" class="form-control" placeholder="Gender"
      id="gender" name="gender" [(ngModel)]="user.gender">
  </div>
  <div class="input-group">
    <label for="height" class="sr-only">Height</label>
    <input type="number" class="form-control" placeholder="Height (inches)"
      id="height" name="height" [(ngModel)]="user.height">
  </div>
  <div class="input-group">
    <label for="weight" class="sr-only">Weight</label>
    <input type="number" class="form-control" placeholder="Weight (pounds)"
      id="weight" name="weight" [(ngModel)]="user.weight">
  </div>
  <button type="submit" class="btn btn-primary" (click)="submitUser()">Save</button>
</form>

<div *ngIf="error" class="alert alert-danger">
  <span class="glyphicon glyphicon-exclamation-sign"></span>
  {{error.error.message ? error.error.message : 'There was an error saving the user.'}}
</div>