<h2>
  Users
  <div routerLink="create" class="btn btn-primary pull-right">Create User</div>
</h2>
<div *ngFor="let user of users" class="panel panel-default">
  <div class="panel-heading">
    <a [routerLink]="user.id">{{user.username}}</a>
  </div>
  <div class="panel-body">
    {{user.firstName}} {{user.lastName}}
    <button [routerLink]="[user.id, 'runs']" class="btn btn-info pull-right">Runs</button>
  </div>
</div>

<div *ngIf="error" class="alert alert-danger">
  <span class="glyphicon glyphicon-exclamation-sign"></span>
  There was an error retrieving users.
</div>