<h2>
  Run
  <button type="button" class="btn btn-danger" (click)="deleteRun()">Delete</button>
</h2>

<div *ngIf="run">
  <form>
    <div class="input-group">
      <label for="startTime">Date & Time Started</label>
      <input type="datetime" class="form-control" placeholder="03/14/18 10:15 AM"
        id="startTime" name="startTime" required [(ngModel)]="run.startTime">
    </div>
    <div class="input-group">
      <label for="elapsed">Duration (sec)</label>
      <input type="number" class="form-control" placeholder="0.0"
        id="elapsed" name="elapsed" required [(ngModel)]="run.elapsed">
    </div>
    <div class="input-group">
      <label for="distance">Distance (mi)</label>
      <input type="number" class="form-control" placeholder="0.0"
        id="distance" name="number" required [(ngModel)]="run.distance">
    </div>
    <div class="input-group">
      <label for="rating">Rating (1-5)</label>
      <input type="number" class="form-control" placeholder="4"
        id="rating" name="rating" [(ngModel)]="run.rating">
    </div>
    <div class="input-group">
      <label for="avgPace">Average Pace (min/mi)</label>
      <input type="number" class="form-control" placeholder="0.0" readonly
        id="avgPace" name="avgPace" [(ngModel)]="run.avgPace">
    </div>
    <button type="submit" class="btn btn-primary" (click)="submitRun()">Save</button>
  </form>
</div>
  
  <div *ngIf="error" class="alert alert-danger">
    <span class="glyphicon glyphicon-exclamation-sign"></span>
    {{error.error.message ? error.error.message : 'There was an error saving the run.'}}
  </div>